/* Classe mosquito (mosquito que aparecerá na tela). */
.mosquito1 {
   width: 50px; // largura mosquito1 50px
   height: 50px; // largura mosquito1 50px
}

.mosquito2 {
   width: 70px; // largura mosquito2 70px
   height: 70px; // largura mosquito2 70px
}

.mosquito3 {
   width: 90px; // largura mosquito3 90px
   height: 90px; // largura mosquito3 90px
}  