
body {
   background-image: url(../images/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

html {
   cursor: url(images/mata_mosquito.png) 30 30 auto;
}

/* Classe mosquito (mosquito que aparecerá na tela). */
.mosquito1 {
   width: 50px; // largura mosquito1 50px
   height: 50px; // largura mosquito1 50px
}

.mosquito2 {
   width: 70px; // largura mosquito2 70px
   height: 70px; // largura mosquito2 70px
}

.mosquito3 {   
   width: 90px; // largura mosquito3 90px
   height: 90px; // largura mosquito3 90px
}  

.ladoA {
   transform: scaleX(1);
}

.ladoB {
   transform: scaleX(-1);
}

/* Painel vidas e cronômetro */
.painel {
   position: absolute;
   width: 190px;
   padding: 10px;
   left: 0px;
   bottom: 0px;
   border-top: 1px solid white;
   background-color: white;
   opacity: 0.7;
}

.vidas {
   flot: left;

}

.cronometro {
   float: left;
   font-size: 20px;
   font-weight: bold;
}